
{% extends 'base/master.html' %}
{% load static %}
{% block title %}inicio{% endblock title %}inicio

{% block content %}
<h1> INICIO </h1>

<div class="card mb-3 text-bg-dark opacity-50">
    <img src="{% static '' %}" class="card-img-top" alt="start card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>

{% endblock  %}


